<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>глобальное потепление </title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>глобальное потепление </h1>
      <p>что такое глобальное потепление!</p>
      <a class="header__link" href="/">на главную страницу</a>
      <a class="header__link" href="/quiz">на квиз</a>
    </div>
  </header>
  <main>
    {% block content %}
    <p><b>Глобальное потепление</b> — это постепенное, длительное повышение средней температуры воздуха у поверхности планеты. Оно связано с усилением так называемого парникового эффекта, когда атмосфера удерживает больше тепла, чем необходимо</p>
    <h3>причины глобального потепления </h3>
    <ul class="list">
      <li class="list__item">
        <span>Эти причины связаны с усилением парникового эффекта — процесса, при котором парниковые газы в атмосфере задерживают тепло, исходящее от поверхности Земли, не давая ему уйти в космос. Без этого эффекта средняя температура на планете была бы значительно ниже. </span>
      </li>
  <li class="list__item">
        <span>Сжигание ископаемого топлива (угля, нефти, газа) для производства электроэнергии, работы транспорта и промышленности. При этом в атмосферу попадает большое количество углекислого газа (CO₂).</span>
      </li>
      <li class="list__item">
        <span> такие как производство цемента, стали, химических веществ. Например, при обжиге известняка для получения цемента выделяется CO₂</span>
      </li>
      <li class="list__item">
        <span> Деревья поглощают CO₂, но при вырубке накопленный в них углерод высвобождается, а способность планеты удерживать углерод снижается</span>
      </li>
      <li class="list__item">
        <span>Изменения параметров орбиты Земли и наклона её оси (так называемые циклы Миланковича). Они влияют на распределение солнечного света, но эти изменения происходят на протяжении тысячелетий, а современное потепление происходит гораздо быстрее.</span>
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>

